{{ 'section-lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook-section section-{{ section.id }}-padding">
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <h2 class="title {{ section.settings.heading_size }} text-center">
        {{ section.settings.title | escape }}
      </h2>
    {%- endif -%}

    <div class="lookbook-grid">
      {%- for block in section.blocks -%}
        <div class="lookbook-item" {{ block.shopify_attributes }}>
          <div class="lookbook-card">
            {%- if block.settings.image != blank -%}
              <div class="lookbook-media media media--transparent">
                <img
                  srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                  src="{{ block.settings.image | image_url: width: 1500 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                >
              </div>
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}

            <div class="lookbook-overlay">
              {%- if block.settings.product != blank -%}
                <a href="{{ block.settings.product.url }}" class="lookbook-link">
                  <span class="lookbook-text">SHOP THE LOOK</span>
                  <span class="lookbook-product-title">{{ block.settings.product.title }}</span>
                  <span class="lookbook-price">{{ block.settings.product.price | money }}</span>
                </a>
              {%- else -%}
                 <div class="lookbook-link">
                  <span class="lookbook-text">INSPIRATION ONLY</span>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Interactive Lookbook",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "LOOKBOOK",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    }
  ],
  "blocks": [
    {
      "type": "lookbook_item",
      "name": "Look",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Interactive Lookbook",
      "blocks": [
        {
          "type": "lookbook_item"
        },
        {
          "type": "lookbook_item"
        },
        {
          "type": "lookbook_item"
        }
      ]
    }
  ]
}
{% endschema %}
