{% layout none %}
{% capture children %}
  <div class="product-card__image-wrapper">
    <a href="{{ product.url }}" class="product-card__link">
      {% if product.featured_media %}
        {{ product.featured_media | image_url: width: 533 | image_tag: loading: 'lazy', class: 'product-card__image' }}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </a>
  </div>
  <div class="product-card__info">
    <a href="{{ product.url }}" class="contents user-select-text" style="text-decoration: none; color: inherit;">
      <h4 class="h4" style="margin: 0 0 0.5rem 0; font-family: 'Yeezy TStar', monospace !important;">{{ product.selected_or_first_available_variant.sku | default: product.title }}</h4>
    </a>
  </div>
{% endcapture %}

{% render 'product-card', product: product, children: children %}
